html,
body,
main {
  margin: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  text-align: center;
}
#canvas {
  width: 100%;
  height: 100%;
}
h1 {
  margin: 0;
  line-height: 1em;
}
p {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
#cover-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #9B1D20;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#loading-bar {
  opacity: 0;
  width: 0;
  height: 0;
  background-color: #0C080C;
}
#load-progress {
  width: 0;
  height: 100%;
  background-color: #E0E1DD;
}
#intro-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 2em;
  width: 400px;
  height: 400px;
  font-family: "Baloo Tammudu 2", cursive;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}
#load-portfolio {
  width: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  border: none;
  background-color: #9B1D20;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin-top: 1em;
  border-radius: 5px;
  outline: none;
}
#load-portfolio:hover {
  cursor: pointer;
  background-color: #9B1D20;
}
#load-portfolio:active {
  transform: scale(0.9);
}